@media (max-width: 1000px) {
    body {
        background-image: url(images/bg-mobile.svg);
        background-size: cover;
    }

    .logo {
        align-self: center;
        margin: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .illustration {
        max-width: 350px;
        margin: 0;
    }

    .text {
        margin: 0;
    }

    h1 {
        font-size: 20px;
    }

    .info {
        margin: 0;
        align-self: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        text-align: center;
    }

    nav { 
        align-self: center;
    }

    ul {
        margin: 0;
    }
}